table {
  border-spacing: 30px;
  }

td {
  width: 100px;
  height: 100px;
  background: #71c924;
  border: 4px solid #f26f0f;

}

div {
  width: 35px;
  height: 35px;
  background: #f26f0f;
  margin: 0 auto;
}

td:nth-of-type(even){
  background: #f26f0f;
}

td:nth-of-type(even) div {
background: #71c924;
}

tr:nth-of-type(even) td:nth-of-type(odd) {
  background: #f26f0f;
}

tr:nth-of-type(even) td:nth-of-type(odd) div {
  background: #71c924;
}

tr:nth-of-type(even) td:nth-of-type(even) {
  background: #71c924;
}

tr:nth-of-type(even) td:nth-of-type(even) div {
  background: #f26f0f;}
